header {
  height: 100px;
  width: 100%;
  margin: 0 0 5px 0;
  border-bottom: 5px solid black;
}

h1 {
  justify-self: left;
}

button {
  height: 30px;
  align-items: center;
}

/* section {
  height: 500px;
  width: 100%;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
} */

footer {
  height: 150px;
  width: 100%;
  margin: 5px 0 0 0;
  border-top: 5px solid black;
}

ul {
  list-style: none;
}

li {
  font-size: 20px;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entry {
  border: 2px solid black;
  padding: 5px;
}

#blog-entries {
  overflow: auto;
  height: 500px;
  width: 100%;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}
